:root {
    --primary-color: #17BFE8;
    --primary-gradient: linear-gradient(133deg, rgba(23,191,232,1) 0%, rgba(23,113,232,1) 100%);
    --font-color: #67748E;
    --font-color-dark: #344767;
    --font-color-light: #828EA1;

    /*-- Card style --*/
    --card-radius: 10px;
    --card-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    --card-margin: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #F8F9FA;
    font-family: "Nunito", sans-serif;
    color: var(--font-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--font-color) !important;
}

/*----- Scrollbar -----*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #DBDBDB;
}

::-webkit-scrollbar-thumb:hover {
    background: #C4C4C4;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/***************************
 *      CUSTOM STYLES
 ***************************/

/*----- Classes -----*/

.grid {
    display: grid;
}

/*----- Buttons -----*/

.btn {
    border-radius: 8px;
    font-size: 11pt;
    transition: all 0.15s ease-in;
}

.btn-light { 
   border-color: #CED4DA;
   color: #84888C;
}

.btn-light:hover {
    color: #5B5E61;
}

.btn-gradient-primary-color { 
    background: var(--primary-gradient);
    color: #FFF;
    font-weight: 700;
}

.btn-gradient-primary-color:hover {
    color: #FFF;
    transform:scale(1.1);
}

.btn-float {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 40px;

    background: var(--primary-gradient);
    border-radius: 100%;
    width: 60px;
    text-align: center;
    line-height: 60px;
    color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.12) 10px 10px 20px -6px;
    font-size: 14pt;
}

.btn-float:hover {
    background: #FFF;
}

.btn-float:hover i {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*----- WEB-GRID -----*/

#wrapper {
    grid-template-columns: 265px repeat(3, 1fr);
    grid-template-rows: minmax(90px, 90px) repeat(2, auto);

    grid-template-areas: "sidebar header header header"
                         "sidebar main main main"
                         "sidebar main main main";
}

.wrapper-login {
    background: url("../media/login_background.jpg") center;
    background-size: 228px 228px;

    grid-template-columns: 1fr !important;
    grid-template-rows: 100vh !important;
    grid-template-areas: "main" !important;

    align-items: center;
    justify-items: center; /* adjusted */
}

/***************************
 *        SIDEBAR
 ***************************/

#sidebar {
    display: grid;
    position: fixed;
    grid-area: sidebar;
    grid-template-rows: 90px 1fr;

    min-height: 100vh;
    max-height: 100vh;
    z-index: 1;
    overflow: auto;
}

#sidebar::-webkit-scrollbar, #sidebar::-webkit-scrollbar-thumb {
    visibility: hidden;
}

#sidebar .sidebar-header {
    text-align: center;
    font-weight: 800;
    margin: 30px;
}

#sidebar .sidebar-header i {
    font-size: 25px;
    color: var(--primary-color);
}

#sidebar h6.sidebar-category {
    margin: 15px 30px;
    font-weight: 700;
    color: var(--font-color-light);
}

#sidebar a.sidebar-category {
    margin: 15px 15px;
    font-weight: 700;
    color: var(--font-color-light);
}

/*----- Navigation -----*/

.sidenav {
    padding: 0 15px;
}

.sidenav .nav-link {
    margin: 5px 10px;
    border-radius: 8px;
    transition: all 0.15s ease-in;
}

.sidenav .nav-link i, .card-icon {
    background: #FFF;
    border-radius: 8px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 5px;
    box-shadow: 0 4px 6px -1px rgb(20 20 20 / 10%), 0 1px 4px -1px rgb(20 20 20 / 7%) !important;
}

.sidenav .nav-link .down {
    float: right;
    line-height: 25px;
    color: var(--font-color-light) !important;
}

.sidenav .nav-link.active i {
    background-image: linear-gradient(310deg, var(--primary-color) 0%, var(--primary-color) 100%);
    color:  #FFF;
    box-shadow: none;
}

.sidenav .nav-link:hover {
    background: #E3E6EB;
}

/*.sidenav .nav-link:hover > i {
    background-image: linear-gradient(310deg, var(--primary-color) 0%, var(--primary-color) 100%);
    color:  #FFF;
    box-shadow: none;
}*/

.sidenav .nav-link.active, .sidenav .nav-link.active:hover {
    background:  #FFF;
    font-weight: 700;
    box-shadow: var(--card-shadow);
}

/***************************
 *        HEADER
 ***************************/

#header {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.headerdir .cat {
    font-size: 14px;
    color: #97A1B1;
}

.headerdir .page {
    font-size: 20px;
    color: var(--font-color-dark);
    font-weight: 700;
}

/*----- Navigation -----*/

.headernav ul {
    float: right;
    margin: 0 24px;
}

.headernav li {
    display: inline-block;
    color: var(--font-color);
    cursor: pointer;
    margin: 0 10px;
}

.headernav li:hover {
    color: #515C70;
}

.headernav .user-profile img {
    width: 25px;
}

/***************************
 *      MAIN CONTENT
 ***************************/

#content {
    grid-area: main;
    width: 98%;
    overflow: auto !important;
}

.wrapper-login #content {
    width: 100vw;
    text-align: center;
}

/*----- Container with automatic grid -----*/

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: var(--card-margin);
}

/*----- Content cards -----*/

.card {
    background: #FFFFFF;
    border: none;
    border-radius: var(--card-radius);
    padding: var(--card-margin);
    margin: 0 auto;
    box-shadow: var(--card-shadow);
}

.card-header {
    background: #FFFFFF;
    border: none;
    padding: 0;
}

.card-header h5 {
    font-weight: 700;
    margin-bottom: 0;
}

.card-mini {
    display: inline-block;
    padding: 10px;
}

.card-mini .card-head {
    margin: 12px;
}

/*----- Cards with forms -----*/

.card-forms {
    width: 80%;
}

.card-forms label, .forms label {
    font-size: 11pt;
    font-weight: 700;
}

.card-forms input, .card-forms textarea, .forms input, .forms textarea {
    border-radius: 10px;
}

.card-forms input::placeholder, .forms input::placeholder {
    color: #A8AAAD;
}

.card-forms input[type=button], .card-forms button, .forms input[type=button], .forms button {
    margin: 0 10px;
}

input.productAmount {
    width: 100px;
}

/*input.edocprefix {
    width: 70px;
}*/

/*----- Card for login -----*/

.card-login {
    width: auto;
    display: inline-block;
    padding: 62.12px 99px 48px;
}

.card-login .logo-icon {
    color: var(--primary-color);
    font-size: 35pt;
    margin: 10px 0;
}

/*----- Flipping card -----*/

.card.flipping-card {
    -webkit-perspective: 150rem;
    -moz-perspective: 150rem;
    perspective: 150rem;
    position: relative;

    background: none;
    box-shadow: none;
}

.flipping-card .card-side {
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(133deg, rgba(56,63,107,1) 0%, rgba(22,25,42,1) 100%);
    border-radius: var(--card-radius);
    color: #FFFFFF;
    box-shadow: var(--card-shadow);
}

.flipping-card:hover .card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flipping-card .card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flipping-card:hover .card-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/*----- Quick info (principal.php) -----*/

.quick-info {
    grid-template-columns: repeat(3, 280px);
    justify-content: center;
}

.quick-info .card-body {
    grid-template-columns: 8fr 4fr;
    grid-gap: var(--card-margin);
    justify-items: center;
    align-items: center;
    max-width: 260px;
}

.quick-info .card-body .title {
    font-weight: bolder;
    margin: 0;
    margin-bottom: 5px;
    color: #4B5566;
}

.quick-info .card-body h5 {
    margin: 0;
    font-weight: 700;
    font-size: 12pt
}

.quick-info .card-body i.card-icon {
    background: var(--primary-gradient);
    color: #FFFFFF;
    justify-self: right;
}

/*----- Company info (principal.php) -----*/

.bg-company-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(133deg, rgba(56,63,107,1) 0%, rgba(22,25,42,1) 100%);
    border-radius: var(--card-radius);
    z-index: -1;
    opacity: 0.7;
}

.flipping-card .map-location {
    background-image: url('../media/location_map.jpg');
    background-position: center center;
}

.company-info .card-header, .company-info .card-body {
    background: transparent;
}

#digital-clock {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-weight: 700;
}

#digital-clock h1 {
    font-size: 50pt;
    margin: 0;
}

#digital-clock .clock-day, #digital-clock .clock-date {
    font-size: 15pt;
}

/*----- Graphics (principal.php) -----*/

.sales-graph {
    padding: 24px;
    min-width: 550px;
}

/*----- Direct access (principal.php) -----*/

.direct-access {
    text-align: center;
}

.direct-access .nav-item {
    margin: 0 10px;
}

.direct-access .dl-border {
    border: 1px solid #178CE8;
    display: inline-block;
    padding: 6px;
    border-radius: 100%;
}

.direct-access li i {
    background: var(--primary-gradient);
    border-radius: 100%;
    width: 48px;
    text-align: center;
    line-height: 48px;
    color: #FFF;
    font-size: 14pt;
}

/***************************
 *        SETTINGS
 ***************************/

#settings {
    display: none;
    position: fixed;
    right: 0;
    padding: 30px;
    background: #FFFFFF;
    width: 340px;
    height: 100vh;
    z-index: 5;
}

.close-settings {
    position: absolute;
    top: 35px;
    right: 30px;
    color: #b2b9bf;
}

/***************************
 *         TABS
 ***************************/

.nav-tabs {
    border: none;
    margin: 0 auto;
    padding-bottom: 20px;
}

.nav-tabs .nav-link {
    border: none;
    color: #A8AAAD !important;
}

.nav-tabs .nav-link.active {
    border: none;
    background: none;
    color: var(--font-color) !important;
}

.nav-tabs .nav-item {
    display: block;
    color: #A8AAAD;
    text-align: center;
    margin: 5px;
}

.nav-tabs .nav-item i {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

/***************************
 *         MODALS
 ***************************/

.modal-content {
    background: #FFFFFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 50px -10px rgb(0 0 0 / 30%);
    padding: 12px;
}

.modal-header {
    padding-bottom: 0;
}

.modal-header h5 {
    font-weight: 700;
}

.modal-header [data-bs-dismiss="modal"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 34px;
}

.modal-header, .modal-footer {
    border: none;
}

/***************************
 *        DROPDOWNS
 ***************************/

.dropdown-menu {
    border: none;
    border-radius: var(--card-radius);
    padding: 16px 8px;
    box-shadow: var(--card-shadow);
}

.dropdown-menu .dropdown-item {
    padding: auto 4px;
    border-radius: 5px;
    transition: all 0.15s ease-in;
}

.dropdown-menu .dropdown-item i {
    display: inline-block;
    margin: 8px;
}

.header-dropdown .dropdown-item:hover {
    background: #F2F5FA;
}

.header-dropdown .dropdown-item:hover > i {
    color: #525C70;
}

/***************************
 *         TABLES
 ***************************/

 .table th {
    font-size: 9pt;
    text-transform: uppercase;
    color: #A6A6A6;
}

.table td {
    font-size: 10pt;
}

.table th, .table td {
    border-color: #e9ecef !important;
    padding: 12px 24px;
}

.table tbody tr:last-child td {
    border: none;
}

/*----- Table icons -----*/

.table .fas {
    visibility: hidden;
    margin: 0 5px;
}

.table .fas:hover {
    transform:scale(1.1);
}

.table tr:hover  .fas {
    display: inline-block;
    visibility: visible;
}

.table .pdel {
    color: #EF415A;
}

.sout {
    background: linear-gradient(133deg, rgba(239,65,90,1) 0%, rgba(199,40,64,1) 100%);
    font-weight: 700;
    font-size: 8pt;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    padding: 2px;
}

/***************************
 *         SWALS
 ***************************/

.swal2-popup {
    border-radius: var(--card-radius) !important;
}

/*de miguel :3 platanito*/

.nav-op-ventas{
    background-color: #17BFE8;
    border-radius: 10px;
    border-color: #17BFE8;
    font-size: 12px;
    color: white;
}
.nav-op-ven li{
    list-style: none;
    display: inline-block;
}
.nav-op-ventas:hover{
    background-color: #1794e8;
    border-color: #1794e8;
    transition: .5s;
}
#papelera{
    visibility: hidden;
    opacity: 0;
}
.ventas:hover #papelera{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}
#papelera:hover{
    color: red;
}
#nombre{
    font-size: 20px;
}
#pelo{
    padding-left: 20px;
}

/***************************
 *    RESPONSIVE STYLES
 * ------------------------
 * XXL (1400px)
 * XL (1200px)
 * LG   (992px)
 * Medium (768px)
 * Small (576px)
 ***************************/

@media screen and (max-width: 1100px) {
    .quick-info {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .quick-info .card-mini {
        width: 100%;
        padding: 2px;
    }

    .quick-info .card-body {
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }

    .quick-info .card-mini-head {
        justify-self: left;
    }

    .quick-info .card-mini-content {
        justify-self: right;
    }

    .quick-info .card-body h5 {
        font-size: 14pt
    }
}

@media screen and (max-width: 768px) {
    #wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(90px, 90px) repeat(2, auto);

        grid-template-areas: "header header header header"
                             "main main main main"
                             "main main main main";
    }

    #wrapper {
        margin: 0 24px;
    }

    #sidebar {
        display: none;
    }

    .headernav ul {
        float: right;
        margin: 0;
    }

}