:root {
    --primary-color: #17BFE8;
    --font-color: #67748E;
    --font-color-dark: #344767;
    --card-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #F8F9FA;
    font-family: "Nunito", sans-serif;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color) !important;
}

#wrapper {
  display: flex;
}

/***************************
 *         SIDEBAR 
 ***************************/

#sidebar {
    position: fixed;
    min-width: 250px;
    padding: 15px;
    min-height: 100vh;
    z-index: 1;
}

#sidebar .sidebar-header {
    text-align: center;
    font-weight: 800;
    margin: 24px 0;
}

#sidebar .sidebar-header a {
    font-size: 20px;
    color: var(--primary-color);
}

#sidebar .sidebar-header i {
    font-size: 25px;
    color: var(--primary-color);
}

/*----- Navigation -----*/

.sidenav .nav-link {
    margin: 2px 10px;
    border-radius: 8px;
    transition: all 0.15s ease-in;
}

.sidenav .nav-link i {
    background: #FFF;
    border-radius: 8px;
    /*padding: 10px;*/
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 5px;
    box-shadow: 0 4px 6px -1px rgb(20 20 20 / 10%), 0 1px 4px -1px rgb(20 20 20 / 7%) !important;
}

.sidenav .nav-link.active, .sidenav .nav-link.active:hover {
    background:  #FFF;
    font-weight: 700;
    box-shadow: var(--card-shadow);
}

.sidenav .nav-link.active i {
    background-image: linear-gradient(310deg, var(--primary-color) 0%, var(--primary-color) 100%);
    color:  #FFF;
    box-shadow: none;
}

.sidenav .nav-link:hover {
    background: #E3E6EB;
}

/*.sidenav .nav-link:hover > i {
    background-image: linear-gradient(310deg, var(--primary-color) 0%, var(--primary-color) 100%);
    color:  #FFF;
    box-shadow: none;
}*/

#sidebar h6.sidebar-category {
    margin: 10px 30px;
    font-weight: 700;
    color:  #828EA1;
}

/***************************
 *         HEADER
 ***************************/

#header {
    width: 100%;
    margin-top: 8px;
}

.headerdir .cat {
    font-size: 14px;
    color: #97A1B1;
}

.headerdir .page {
    font-size: 20px;
    color: var(--font-color-dark);
    font-weight: 700;
}

/*----- Navigation -----*/

.headernav li.nav-link {
    color: var(--font-color);
    cursor: pointer;
}

.headernav li.nav-link:hover {
    color: #515C70;
}

.headernav .user-profile img {
    width: 25px;
    margin-right: 5px;
}

/*----- Dropdown menu -----*/

.headernav .header-dropdown {
    right: 0;
    border: none;
    border-radius: 10px;
    padding: 16px 8px;
    box-shadow: var(--card-shadow);
}

.header-dropdown .dropdown-item {
    padding: auto 4px;
    border-radius: 5px;
    transition: all 0.15s ease-in;
}

.header-dropdown .dropdown-item i {
    display: inline-block;
    margin: 8px;
}

.header-dropdown .dropdown-item:hover {
    background: #F2F5FA;
}

.header-dropdown .dropdown-item:hover > i {
    color: #525C70;
}

/***************************
 *         CONTENT
 ***************************/

#content {
    width: 100%;
    position: relative;
    margin-left: 250px;
    padding: 0 20px;
}

.card {
    background: #FFF;
    border: none;
    border-radius: 15px;
    padding: 24px 0;
    box-shadow: var(--card-shadow);
}

.card-forms {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.card-forms h5 {
    font-weight: 700;
}

.card-forms label {
    font-size: 11pt;
    font-weight: 700;
}

.card-forms input {
    border-radius: 10px;
}

.card-forms input::placeholder {
    color: #A8AAAD;
}

/*----- Tab Panels -----*/

.nav-tabs {
    border: none;
    margin: 0 auto;
    padding-bottom: 20px;
}

.nav-tabs .nav-link {
    border: none;
    color: #A8AAAD !important;
}

.nav-tabs .nav-link.active {
    border: none;
    background: none;
    color: var(--font-color) !important;
}

.nav-tabs .nav-item {
    /*background: #FFF;
    border: none;
    border-radius: 10px;
    padding: 6px 0;
    box-shadow: var(--card-shadow);
    text-align: center;*/
    display: block;
    color: #A8AAAD;
    text-align: center;
    margin: 5px;
}

.nav-tabs .nav-item i {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    /*background: linear-gradient(130deg, rgba(23,191,232,1) 0%, rgba(17,140,171,1) 100%);
    color: #FFF;
    border-radius: 8px;
    width: 48px;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    margin: 0 5px;
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(20 20 20 / 12%), 0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%) !important;*/
}

/*

.nav-tabs .nav-item {
    display: block;
    padding: 20px;
    border: none;
    border-radius: 0;
    font-size: 17px;
    font-weight: 700;
    color: #444;
    margin-right: 0;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.nav-tabs .nav-item i {
    display: block;
    font-size: 40px;
    color: #00a6ff;
    margin-bottom: 15px;
}

.panel-tabs {
    box-shadow: var(--card-shadow);
}

.panel-content {
    background: #FFF;
    border: 1px solid #DEE2E6;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}
*/

/*de miguel :3 platanito*/

.nav-op-ventas{
    background-color: #17BFE8;
    border-radius: 10px;
    border-color: #17BFE8;
    font-size: 12px;
    color: white;
}
.nav-op-ven li{
    list-style: none;
    display: inline-block;
}
.nav-op-ventas:hover{
    background-color: #1794e8;
    border-color: #1794e8;
    transition: .5s;
}
#papelera{
    visibility: hidden;
    opacity: 0;
}
.ventas:hover #papelera{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}
#papelera:hover{
    color: red;
}
#nombre{
    font-size: 20px;
}
#pelo{
    padding-left: 20px;
}